<%= form_for([@city, @list]) do |l| %>
  <h1>New List</h1>	
  <%= l.label :name %>
  <br>
  <%= l.text_field :name, required: true %>
  <br>
  <%= l.label :nome %>
  <br>
  <%= l.text_field :nome, required: true %>
  <br>
  <%= l.label :image_url %>
  <br>
  <%= l.text_field :image_url, required: true %>
  <br>
  <br>

  <%= l.submit 'Save!' %>
<% end %>