<div id="cityBody">
	<%= link_to 'Back', city_path(@city)%>
	<div class="txt-en">
		<% @lists.descriptions.each do |desc| %>	
		<div id="listBtn">
			<h2><%= link_to desc.name, city_list_description_path(@lists.city, @lists, desc), :class => "linkToDescription" %></h2>
			<p id="listSubtitle"><%= desc.subtitle %></p>
		</div>
		<%end%>
	</div>
	<div class="txt-pt">
		<% @lists.descriptions.each do |desc| %>	
		<div id="listBtn">
			<h2><%= link_to desc.name, city_list_description_path(@lists.city, @lists, desc), :class => "linkToDescription" %></h2>
			<p id="listSubtitle"><%= desc.subtitulo %></p>
		</div>
		<%end%>
	</div>

	<Br/>
	<% if signed_in? %>
	<%= link_to 'New Item', new_city_list_description_path(@lists.city, @lists) %>
	<%end%>
</div>
