<%= form_for([@city]) do |c| %>
	<h1>New city</h1>	
  <%= c.label :name %>
  <br>
  <%= c.text_field :name, required: true %>
  <br>
  <br>

  <%= c.label :image_url %>
  <br>
  <%= c.text_field :image_url, required: true %>
  <br>
  <br>

  <%= c.submit 'Save!' %>
<% end %>