<div id="cityBody">
	<%= link_to 'Back', cities_path%>
	<br/>
	<div class="txt-en">		
			<% @city.lists.each do |list| %>
			<ul class="demo-2 effect">
					<li><a class="zero"><%= list.name %></a></li>
					<li><%= link_to image_tag(list.image_url, size: "300x180", :class => "top" ), city_list_path(@city, list) %><Br/></li>
			</ul>
			<%end%>
	</div>

	<div class="txt-pt">
			<% @city.lists.each do |list| %>
			<ul class="demo-2 effect">
					<li><a class="zero"><%= list.nome %></a></li>
					<li><%= link_to image_tag(list.image_url, size: "300x180", :class => "top" ), city_list_path(@city, list) %><Br/></li>
			</ul>
			<%end%>
	</div>

	<Br/>
	<% if signed_in? %>
	<%= link_to 'New List', new_city_list_path(@city) %>
	<%end%>
</div>
