<div id="cityBody">
	<%= link_to 'Back', cities_path%>
	<a href="#" class="select-en">English</a>
	<a href="#" class="select-pt">Português</a>
	
	<div class="txt-pt">
		<% @city.lists.each do |list| %>
			<div id="cityBtn">
				<%= image_tag(list.image_url, size: "320x200") %><Br/>
				<%= link_to list.name, city_list_path(@city, list)%>
			</div>
		<%end%>
	</div>

	<div class="txt-en">
		<% @city.lists.each do |list| %>
			<div id="cityBtn1">
				<%= image_tag(list.image_url, size: "320x200") %><Br/>
				<%= link_to list.nome, city_list_path(@city, list)%>
			</div>
		<%end%>
	</div>

	<Br/>
	<%= link_to 'New List', new_city_list_path(@city) %>
</div>
